<div class="doctor-menu">
    <!-- <div class="dr-upload-img">
      <img src="http://azim.commonsupport.com/Docpro/assets/images/resource/profile-2.png" alt="">
      <img height="250px" width="375px" [src]="_d.bypassSecurityTrustUrl(item.fileUpload)">
      <div class="d-d-img-box">
          <div class="d-d-box-item" >
              <h3>{{item.drName}}</h3>
              <p>{{item.drDegree}}</p>
          </div>
      </div> 
    </div> -->
     <div class="menu-liest">
         <ul class="menu-liest-item">
   
             <li routerLink="dr-information" routerLinkActive="active"><a ><i class="fa fa-address-card" aria-hidden="true"></i>Dashboard</a></li>
             <li routerLink="appointments" routerLinkActive="active"> <a ><i class="fa fa-calculator" aria-hidden="true"></i>Appointments</a></li>
             <li routerLink="mypatients" routerLinkActive="active"><a ><i class="fa fa-life-ring" aria-hidden="true"></i>My Patients</a></li>
             <li  routerLink="addlisting" routerLinkActive="active"><a><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Listing</a></li>
             <li routerLink="schedule" routerLinkActive="active"><a ><i class="fa fa-clock-o" aria-hidden="true"></i>Schedule Timing</a></li>
             <li routerLink="reviews" routerLinkActive="active"><a><i class="fa fa-star" aria-hidden="true"></i>Reviews</a></li>
             <li routerLink="myprofile" routerLinkActive="active"><a><i class="fa fa-user-md" aria-hidden="true"></i>My Profile</a></li>
             <li routerLink="changepassword" routerLinkActive="active"><a ><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
             <li> <a href="login"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
     
         </ul>
     </div>
 </div>   