<section class="vh-100" style="font-family: -webkit-body;font-weight: 400;">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/img/forgot password.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="item">
                <i class="fa fa-4x fa-lock" aria-hidden="true"></i>
                <h2> Forgot Password </h2> 
            </div>
          <form [formGroup]="forgotForm">    
            <!-- Email input -->
            <div class="form-outline mt-4">
                <label class="form-label" for="form3Example3">Email address</label> 
              <input type="email" id="form3Example3" formControlName="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" required   />
            </div>
            <div *ngIf="forgotpasswordGenerate['email'].touched && forgotpasswordGenerate['email'].invalid">
              <div *ngIf="forgotpasswordGenerate['email'].errors?.['required']" class="errorMsg">
                  *Email is required
              </div>
              <div *ngIf="forgotpasswordGenerate['email'].errors?.['pattern']" class="errorMsg">
                  *Please enter valid Email.
              </div>
          </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" [disabled]="forgotForm.invalid" (click)="submit()" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Send</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>

  </section>